@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


$border-dark: 1px solid rgb(85, 84, 84);

// root styles
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html{
    background: rgb(31, 30, 30);
}

.headerContainer{
    background: rgb(43, 42, 42);
    max-width: 500px;
    margin: 2rem auto 0 auto;
    padding: 1rem;
    border-radius: 10px;
    border: $border-dark;
    text-align: center;
}

.buttonContainer{
    margin: 1rem 0 1rem 0;
}

.sectionChangerBtn{
    font-size: 16px;
    min-width: 167px;
    padding: 0.3rem 0.8rem;
    border-radius: 8px;
    color: white;
    border: $border-dark;
    cursor: pointer;
    transition: background 0.2s ease-in;

    &:hover{
        background: rgb(66, 65, 65);
    }
}

.myTasksBtn, .completedTasksBtn{
    background: rgb(53, 52, 52);
}

.appTitle{
    text-align: center;
    color: white;
}

.addTasksContainer{
    display: inline-flex;
}

.addTaskBtn{
    border: $border-dark;
    border-left: none;
    border-radius: 0 3px 3px 0;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    background: rgb(53, 52, 52);
    padding: 0.2rem 0.5rem;
    color: white;
    cursor: pointer;
    text-align: center;
    transition: background 0.2s ease-in;

    &:hover{
        background:rgb(66, 65, 65) ;
    }
}

.taskInput{
    border: $border-dark;
    border-right: none;
    border-radius: 3px 0 0 3px;
    background: rgb(43, 42, 42);
    color: white;

    padding: 0.3rem 0.2rem;
    &:focus{
        outline: none;
    }
}

.tasksContainer{
    max-width: 500px;
    margin: 2rem auto 0 auto;
}


// card styles
.taskCard{
    background: rgb(43, 42, 42);
    margin: 0.5rem auto 0 auto;
    padding: 1rem;
    border-radius: 10px;
    border: $border-dark;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.cardTitle{
    color: white;
    font-size: 16px;
}

.cardBtns{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;

    .cardDoneBtn{
        &:hover {
            background: rgb(24, 204, 39);
        }
    }
    .cardEditBtn{
        &:hover {
            background: rgb(67, 67, 168);
        }
    }
    .cardDeleteBtn{
        &:hover {
            background: rgb(184, 59, 59);
        }
    }
}

.cardBtn{
    font-size: 14px;
    padding: 0.3rem 0.8rem;
    border-radius: 8px;
    color: white;
    border: $border-dark;
    cursor: pointer;
    background: transparent;
    transition: background 0.2s ease-in;
}

.cardStatus{
    color: rgb(119, 117, 117);
    font-size: 14px;
}

.active{
    background:rgb(66, 65, 65);
}

.emptyTaskList{
    color: rgb(148, 144, 144);
    text-align: center;
}

// alert message
.alertMsg{
    opacity: 0;
    z-index: 999;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem 1.5rem;
    border-radius: 10px;
    transition: opacity 0.5s ease;
    pointer-events: none;
    visibility: hidden;
}

.show{
    opacity: 1;
    visibility: visible;
}
// modal styles

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    min-width: 350px;
    border-radius: 10px;
    padding: 1rem;
    background: rgb(43, 42, 42);
    border: $border-dark;
}

.newTaskContainer{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    
}

.editTaskInput{
    border: $border-dark;
    border-radius: 3px;
    background: rgb(43, 42, 42);
    color: white;

    padding: 0.3rem 0.2rem;
    &:focus{
        outline: none;
    }
}

.saveNewTaskBtn{
    width: fit-content;
    align-self: flex-end;
    justify-self: baseline;
}

.saveNewTaskBtn, #closeBtn{
    font-size: 14px;
    padding: 0.3rem 0.8rem;
    border-radius: 8px;
    color: white;
    border: $border-dark;
    cursor: pointer;
    background: transparent;
    transition: background 0.2s ease-in;

    &:hover{
        background:rgb(66, 65, 65) ;
    }
}

.overlay{
    background: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    top: 0;
    position: absolute;
    pointer-events: auto;
    display: none;
    z-index: 9;
}